{% extends "passwordRegister/base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Nom du site</td>
            <td>URL</td>
            <td>Username</td>
            <td>Mot de passe</td>
            <td><a href="{% url 'password_insert' %}" class="btn btn-outline-success">Ajouter</a></td>
        </tr>
    </thead>
    <tbody>
        {% for website in password_list %}
        <tr>
            <td>{{website.name}}</td>
            <td>{{website.url}}</td>
            <td>{{website.username}}</td>
            <td>{{website.password}}</td>
            <td><a href="{% url 'password_update' website.id %}" class="btn text-secondary px-0">
                    Modifier
                </a>
                <form action="{% url 'password_delete' website.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn text-danger px-0">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
</table>
<div class="row">
    <div class="col-md-4">
        <form action="{% url 'password_import'%}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-block btn-lg"></i>Importer CSV</button>
        </form>
    </div>
    <div class="col-md-4">
        <form action="{% url 'password_export'%}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary btn-block btn-lg"></i>Exporter CSV</button>
        </form>
    </div>
</div>
{% endblock content %}